{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": false }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
